---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// Load skills from JSON file
import skills from '../data/site.json'
const { skillsFrontEnd, skillsUX, skillsM365 } = skills;

// Import the <Image /> component
import { Image } from "astro:assets"
// Import a reference to the image itself
import myFace from "../assets/patrick_doran_header_photo.jpg"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body id="homepage">
		<Header />
		
		<main>
			
			<div id="intro">
 

				<Image src={myFace} alt="Photo of Patrick Doran. He's a web developer and designer. In this photo he is wearing glasses and smiling. Photo credit to my selfie-length arm." />

				<p>
				  <span role="img" aria-label="the Vulcan hello">🖖</span> Hello, I'm <strong>Patrick Doran</strong>, a user experience designer <span>&amp;</span> developer from North Carolina.</p>
				
				<p>Since <time datetime='1998-01'><a target='_blank' href='assets/patrick_doran_work_history.jpg' title="Pepridge Farms remembers"><span>1998</span>&nbsp;<mark>&#x1F4BE;</mark></a></time> I've designed and coded fast user interfaces, modern JavaScript applications, and obsessed about usability and performance. Today I'm focused on building with <em>Vue</em>, <em>React</em>, and <em>Tailwind</em> for the Microsoft 365/SharePoint platform.</p>
			  
				<p>When I'm not busy <a href="/work">building interactive things</a>, I enjoy <a href="/writing">writing</a> and <a href="/speaking">talking shop</a>.</p>
				
				<p>Link in <a href="/about" title="Learn more about Patrick">bio</a>.</p>
			  
			  </div>
			  
			  <hr/>
			  
			  
			  <h2>Expertise in</h2>
				<aside>
				  <dl>
				  <dt>&#x1F6E0;&#xFE0F; Front-End Web Development  &#x1F6E0;&#xFE0F;</dt>
				  {skillsFrontEnd.map(skill => (
					<dd>{skill}</dd>
					))}
				  </dl>
				  <dl>
					<dt>&#x1F5A5;&#xFE0F; User Experience &amp; Design  &#x1F5A5;&#xFE0F;</dt>
					{skillsUX.map(skill => (
						<dd>{skill}</dd>
					))}
				  </dl>
				  <dl>
					<dt>&#x1F39B;&#xFE0F; Microsoft 365 &amp; SharePoint  &#x1F39B;&#xFE0F;</dt>
					{skillsM365.map(skill => (
						<dd>{skill}</dd>
					))}
				  </dl>
				</aside>

			
		</main>
		<Footer />
	</body>
</html>
